# Celery - Redis
# ------------------------------------------------------------------------------
celery==5.2.3  # pyup: < 6.0  # https://github.com/celery/celery
flower==1.0.0  # https://github.com/mher/flower
redis==4.1.0  # https://github.com/redis/redis-py

# Django
# ------------------------------------------------------------------------------
django==3.2.11  # pyup: < 4.0  # https://www.djangoproject.com/
django-redis==5.2.0  # https://github.com/jazzband/django-redis
django-celery-beat==2.2.1  # https://github.com/celery/django-celery-beat

# Django REST Framework
djangorestframework==3.13.1  # https://github.com/encode/django-rest-framework
django-cors-headers==3.10.1 # https://github.com/adamchainz/django-cors-headers